<div class="d-flex justify-content-around w-100 mb-3">
  <div class="btn-menu-choices" id="btn-artists" (click)="click_artists()">
    <h3 style="text-align: end">Artists</h3>
  </div>
  <div class="btn-menu-choices" id="btn-albums" (click)="click_albums()">
    <h3 style="text-align: end">Albums</h3>
  </div>
</div>
<div class="row w-100">
  <div *ngIf="this.artists;then artists_content else albums_content">
  </div>
  <ng-template #artists_content>
    <app-artists-list></app-artists-list>
  </ng-template>
  <ng-template #albums_content>
    <app-albums-list></app-albums-list>
  </ng-template>
</div>
