<footer class="footer ">
  <div class="d-flex justify-content-between">
    <div>
      <img class="img-logo-footer spotilike" src="assets/images/spotilike.png" alt="Spotilike Logo">
      Maxime Etcheverria | Julien Ousmer
    </div>
    <div>
      <a class="" target="_blank" href="https://www.linkedin.com/in/maxime-etcheverria-0860231b8/">
        <img class="img-logo-footer fonda" src="assets/images/borloo.png" alt="GitHub Logo">
      </a>
      <a class="" target="_blank" href="https://github.com/Borloo/express-spotilike">
        <img class="img-logo-footer" src="assets/images/github.png" alt="GitHub Logo">
      </a>
      <a class="" target="_blank" href="https://www.linkedin.com/in/julien-devienne-ousmer-854611223/">
        <img class="img-logo-footer fonda" src="assets/images/smehou.png" alt="GitHub Logo">
      </a>
    </div>
    <span>© 2024, All rights reserved</span>
  </div>
</footer>
